header ul {list-style-type: none !important;}
header .maxWidth {max-width: 1140px; margin: 0 auto; padding: 0 10px;}
header .logo {
    width: 131px;
    height: 18px;
    background: url(./../images/indacoin.svg) no-repeat;
}
header .header {
    padding: 10px 0;
}
header .header > div:nth-child(1) {padding-top: 37px;}
header .mobileMenu > ul {
    display: flex;
    height: 100px;
}
header .mobileMenu > ul > li {
    flex: 0 1 auto;
}
header .mobileMenu > ul {position: relative; z-index: 1;}
header .mobileMenu > ul > li {cursor: pointer;}
header .mobileMenu > ul > li:nth-last-child(1)::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background: url(./../svg/pointer-light.svg) left center no-repeat;
    position: relative;
    top: 0;
    left: 0;
}
header .mobileMenu a {color: inherit;}
@media (min-width: 768px) {
    header .mobileMenu > ul {
        justify-content: space-between;
    }
    header .mobileMenu > ul > li {
        align-self: center;
    }
    header div.mobileMenu {
        position: static;
        background: inherit;
        width: auto!important;
    }
    header li:hover {text-decoration: underline;}
}
@media (max-width: 767px) {
    header .logo {position: relative; top: 4px; left: 45px;}
    header ul.menuLang li {padding-left: 45px !important;}
    header .mobileMenu > ul {
        flex-flow: column nowrap;
    }
    header .mobileMenu > ul > li {
        min-height: 30px;
        align-self: left;
    }
    header .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: right calc(-1441px / 2) bottom 0px/1441px 1441px no-repeat radial-gradient(720.50px at 50% 50%, rgba(2, 63, 113, 1) 0%, rgba(0, 2, 53, .77) 100%);
        z-index: 1;
        width: 0px;
        overflow: hidden;
    }
    header .mobileMenu > ul {
        width: 250px;
        padding: 10px 20px;
    }
    header .mobileMenu li {padding: 5px;}
    header .mobileMenu li:hover {
        background: rgba(255,255,255,.1);
        /*padding: 5px;*/
        border-radius: 5px;
    }
    header .mobileMenu {transition: .5s;}
    header .mobileMenu li {transition: .1s;}
}
/*menuLang*/
@media (min-width: 768px) {
    header .mobileMenu li.menuLang > div.menuLang {
        position: absolute;
    }
    header .mobileMenu li.menuLang > div.menuLang {
        position: relative;
        top: 5px;
        width: auto;
        height: 0px;
    }
    header .mobileMenu li.menuLang > div.menuLang > ul.menuLang {
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        overflow: hidden;
    }
    header .menuLang {transition: .5s;}
}
@media (max-width: 767px) {
    header .mobileMenu li.menuLang > div.menuLang {
        position: relative;
        top: 5px;
        width: 95px;
        height: 0px;
        /*overflow: hidden;*/
    }
    header .mobileMenu li.menuLang > div.menuLang > ul.menuLang {
        position: absolute;
        top: 7px;
        left: 15px;
        height: 0;
        overflow: hidden;
    }
    header .mobileMenu li.menuLang > div.menuLang > ul.menuLang li {padding: 5px;}
    header .menuLang {transition: .5s;}
    header .menuLang li {transition: .1s;}
}