

li.menuLangParent ul.menuLang li.flag {
	background-color: #062341;
	background-repeat: no-repeat;
	background-position: center left 3px;
	height: 30px;
	padding: 5px 5px 0 40px;
	cursor: pointer;
}
li.menuLangParent ul.menuLang li.flag:hover 			{background-color: SteelBlue;}
li.menuLangParent ul.menuLang li.flag.Arabic 			{background-image: url('../../assets/images/flags32/Palestine.png')}
li.menuLangParent ul.menuLang li.flag.German 			{background-image: url('../../assets/images/flags32/Germany.png')}
li.menuLangParent ul.menuLang li.flag.English 			{background-image: url('../../assets/images/flags32/United-Kingdom.png')}
li.menuLangParent ul.menuLang li.flag.Spanish 			{background-image: url('../../assets/images/flags32/Spain.png')}
li.menuLangParent ul.menuLang li.flag.French 			{background-image: url('../../assets/images/flags32/France.png')}
li.menuLangParent ul.menuLang li.flag.Italian 			{background-image: url('../../assets/images/flags32/Italy.png')}
li.menuLangParent ul.menuLang li.flag.Portuguese 		{background-image: url('../../assets/images/flags32/Portugal.png')}
li.menuLangParent ul.menuLang li.flag.Russian 			{background-image: url('../../assets/images/flags32/Russia.png')}
li.menuLangParent ul.menuLang li.flag.Turkish 			{background-image: url('../../assets/images/flags32/Turkey.png')}
li.menuLangParent ul.menuLang li.flag.Czech-Republic 	{background-image: url('../../assets/images/flags32/Czech-Republic.png')}