.cs-select > span {padding-right: 130px;}
div.cs-skin-elastic {
    background: transparent;
    font-size: inherit;
    font-weight: inherit;
}
.cs-skin-elastic > span {background-color: inherit;}
div.cs-skin-elastic {
    color: inherit;
    text-transform: uppercase;
}

.cs-skin-elastic .cs-options span:hover {
	background-color: #23A3D1;/* #2DC2FC;*/
}
.cs-skin-elastic .cs-options li.cs-focus span, .cs-skin-elastic .cs-options .cs-selected span {
    color: #ccc;
}

.cs-skin-elastic .cs-options > ul::before {background-color: #042648;border-radius: 5px;}
.cs-skin-elastic .cs-options li.flag-france span {background-image: url('../../../assets/images/selectFx/france.svg')}
.cs-skin-elastic .cs-options li.flag-brazil span {background-image: url('../../../assets/images/selectFx/brazil.svg')}
.cs-skin-elastic .cs-options li.flag-argentina span {background-image: url('../../../assets/images/selectFx/argentina.svg')}
.cs-skin-elastic .cs-options li.flag-safrica span {background-image: url('../../../assets/images/selectFx/south-africa.svg')}

.cs-skin-elastic > span::after {
    content: '';
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;*/
}

