.cs-select > span {padding-right: 130px;}
div.cs-skin-elastic {
    background: transparent;
    font-size: inherit;
    font-weight: inherit;
}
.cs-skin-elastic > span {background-color: inherit;}
div.cs-skin-elastic {
    color: inherit;
    text-transform: uppercase;
}

.cs-skin-elastic .cs-options span:hover {
	background-color: #23A3D1;/* #2DC2FC;*/
}
.cs-skin-elastic .cs-options li.cs-focus span, .cs-skin-elastic .cs-options .cs-selected span {
    color: #ccc;
}

.cs-skin-elastic .cs-options > ul::before {background-color: #042648;border-radius: 5px;}

.cs-skin-elastic .cs-options li.flag-Arabic span {background-image: url('../../../assets/images/flags24/Arabic.png')}
.cs-skin-elastic .cs-options li.flag-German span {background-image: url('../../../assets/images/flags24/German.png')}
.cs-skin-elastic .cs-options li.flag-English span {background-image: url('../../../assets/images/flags24/English.png')}
.cs-skin-elastic .cs-options li.flag-Spanish span {background-image: url('../../../assets/images/flags24/Spanish.png')}
.cs-skin-elastic .cs-options li.flag-French span {background-image: url('../../../assets/images/flags24/French.png')}
.cs-skin-elastic .cs-options li.flag-Italian span {background-image: url('../../../assets/images/flags24/Italian.png')}
.cs-skin-elastic .cs-options li.flag-Portuguese span {background-image: url('../../../assets/images/flags24/Portuguese.png')}
.cs-skin-elastic .cs-options li.flag-Russian span {background-image: url('../../../assets/images/flags24/Russian.png')}
.cs-skin-elastic .cs-options li.flag-Turkish span {background-image: url('../../../assets/images/flags24/Turkish.png')}







.cs-skin-elastic > span::after {
    content: '';
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;*/
}

